
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #264653;
  color: white;
  font-size: 20px;
  border-radius: 60px;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

#loginbtn {
  width: 370px;
  height: 30px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color:#FF4500;
  color:white;
 
 }

.active {
  text-decoration: underline;
  text-decoration-color: #FF4500;
  color: white;
}

.loginPage {
    margin-top: 80px;
    width: 1300px;
    max-height: 370px !important;
    border-style: hidden;
    
}

.loginContainer {

    background-color: #264653;
    color: #2A9D8F;
    width:400px;
    height:340px;
    margin-right:150px;
    float: right;
    border-radius: 60px;
    padding: 10px;
    margin-top:-80px;


}
li a:hover {
  background-color: #2A9D8F;
  color: #303030;
  text-decoration: none;
}

#username {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 370px;
  height: 30px;
  border-radius: 10px;
}

#password {
  margin-top: 10px;
  padding-top: 5px;
  width: 370px;
  height: 30px;
  border-radius: 10px;
}

#email{
  margin-top: 10px;
  padding-top: 5px;
  width: 370px;
  height: 30px;
  border-radius: 10px;

}


#input {
  margin-top: 10px;
    text-align: center;
}

#logo{

  margin-left:auto;
  margin-right:auto;
  display: block;
  width:15%;
}

#image {
  margin-top:-160px;
  z-index: -100;
  position: relative;
}




